body{
  background-color: antiquewhite;
}
.App {
  text-align: center;
}

.input_div{
  margin-top: 50px;
}

.input{
  margin-left: 15px;
}
.label{
  font-size: 25px;
  font-weight: 900;
  color: red;
}
.submit{
  color: red;
  padding: 15px 15px;
  font-size: 15px;
  font-weight: 900;
  background-color: whitesmoke;
}